/* Importantion des polices raleway*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

/* CSS RESET
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* code CSS deskop du projet */

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  margin: auto;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  max-width: 1400px;
}

body {
  width: 96%;
  margin: auto;
}

a {
  color: black;
  text-decoration: none;
}

  header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:end;
    height: 48px;

  }

  header img {
    width:60px;
    height: 20px; 
  }

  nav {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  nav a {
    width: 50%;
    text-align: center;
    padding: 30px 0 0 0;
  }

  nav a:hover{
    color: #0065FC;
    border-top:#0065FC solid 2px;
  }

  main {
    margin: 65px 0 65px 0;
  }

  h1 {
    font-size: 1.4em;
    font-weight:700;
  }

  h2 {
    font-size: 1.2em;
    font-weight:700;
    margin: 0 50px 0 0;
  }

  .recherche_et_filtres h1 {
    font-size: 1.4em;
    font-weight:700;
    margin: 0 0 15px 0
  }

  .recherche_et_filtres h1 + p {
    margin: 0 0 20px 0;
  }

  .recherche_et_filtres h2 {
    margin: 0 1% 0 0;
  }

  /* icone_recherche est masqué en deskopt et n'apparait qu'en mobile*/
  @media all and (min-width: 769px) {
    .icone_recherche {
      display: none;
    }
  }

  .formulaire_de_recherche {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }

  .location_dot {
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    padding:17px;
  }

  #ville_recherche {
    padding-left: 15px;
    font-size: 1.1em;
    font-weight:700;
    Height: 50px;
    border: 1px solid #F2F2F2;
  }

  input::placeholder {
    color:black;
    opacity: 1;
  }

  #rechercher {
    width: 132px;
    Height: 50px;
    background-color: #0065FC;
    color: white;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    font-size: 1.1em;
    font-weight:700;
  }

  .filtres {
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .boutons {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  /* effet :hover uniquement en deskop */

  @media all and (min-width: 992px) {
    .boutons :hover {
      background-color: #DEEBFF;
    }
  }

  .icones_boutons {
    width: auto;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 1.2% 1% 1.2% 1%;
    margin: 0 0 0 1%;
  }
  
  .icones_boutons i {
    color: #0065FC;
    font-size: 1.05em;
    margin: 0 10px 0 0;
  }

  .icones_boutons span {
    font-size: 1.05em;
    font-weight:700;
  }

  .infos {
    margin: 40px 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .infos i {
    margin: 0 10px 0 0;
    padding: 10px 14px 10px 14px;
    font-size: 0.8em;
    color:#0065FC;
    border: 1px solid #D9D9D9;
    border-radius: 24px;
  }

  .corps_de_page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  /* background color uniquement en deskop et tablette*/

  @media all and (min-width: 769px) {
  .Hebergements {
    background: #F2F2F2;
  }
}

  .Hebergements {
    border-radius: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 40px 0 60px 0;
  }

  .Hebergements h1 {
    margin: 30px 0 30px 40px;
  }

  .Hebergements h2 {
    margin: 20px 0 40px 40px;
  }

  .ensemble_cartes_hebergement {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .carte_hebergement {
    margin: 1% 0.5% 1% 0.5%;
    padding: 5px;
    width: 30%;
    height: 200px;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .carte_hebergement img {
    object-fit: cover;
    max-height: 60%;
    width: 100%;
    border-radius: 20px 20px 0 0;
  }

  .presentation_hotel {
    margin:10px 0 0 10px;
    width: 100%;
  }

  .presentation_hotel h3 {
    margin: 0px 0 5px 0;
  }

  .classement {
    width: 100%;
    margin: auto 0 0 10px;
  }

  .etoile_bleu {
    color: #0065FC;
  }

  .etoile_grise {
    color: #F2F2F2;
  }

  .Populaires {
    background: #F2F2F2;
    border-radius: 20px;
    width: 29%;
    display: flex;
    flex-direction: column;
    margin: 40px 0px 60px 0;
  }

  .entête_populaire {
    width: 90%;
    margin: 30px auto 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .chart {
    color: #0065FC;
  }

  .carte_populaire {
    margin: 10px auto 20px auto;
    padding: 5px;
    width: 80%;
    height: 145px;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
  }

  .carte_populaire img {
    object-fit: cover;
    max-height: 100%;
    width: 50%;
    border-radius: 20px 0 0 20px;
  }

  .presentation_hotel_populaire {
    margin: 10px 0 0 5%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .presentation_hotel_populaire h3 {
    margin: 0 0 5px 0;
  }

  .carte_populaire .classement {
    margin: auto 0 0 0;
  }

  .Activites {
    display: flex;
    flex-direction: column;
  }

  .Activites h1 {
    margin: 0 0 40px 0;
  }

  .ensemble_cartes_activites {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .carte_activites {
    display: flex;
    flex-direction: column;
    width: 23%;
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  }

  .carte_activites img {
    object-fit: cover;
    height: 85%;
    width: 100%;
    border-radius: 20px 20px 0 0;
  }

  figcaption {
    margin: auto 0 auto 5%;
    top: 90%;
    font-size: 1em;
    font-weight: 700;
  }

  footer {
    height: 225px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  footer ul {
    height: 80%;
  }

  footer h3 {
    margin: 0 0 10px 0;
  }

  footer li {
    padding: 20px 0 0 0;
  }

  /* adaptiblité tablette entre 768px  et 992 px */

  @media all and (min-width: 768px) and (max-width: 992px) {
    
    nav {
      width: 40%;
    }
  
    nav a {
      width: 50%;
      margin:auto;
    }

    .corps_de_page {
      display: flex;
      flex-direction: column;
    }

    .Hebergements {
      width: auto;
      margin: 40px 0 25px 0;
    }

    .Populaires {
      width: auto;
      padding: 0 0 20px 0;
    }

    .carte_populaire {
      width: 30%;
      height: 145px;
    }

    .ensemble_cartes_populaire {
      display: flex;
      flex-direction: row;
     }

     .carte_activites {
      width: 20%;
    }

     .carte_activites img {
      height: 80%;
    }
  
    figcaption {
      font-weight: 700;
    }
  }

  /* adaptabilité mobile en dessous de 768 px */

  @media screen and (max-width: 768px) {

    body {
      width: 100%;
    }

    header {
      display:flex;
      flex-direction: column;
      flex-direction: space-between;
      align-items: center;
      margin:30px 0 80px 0;
    }

    nav {
      margin: 50px 0 0 0;
      width: 100%;
    }

    nav a {
      padding: 0 0 20px 0;
    }

    nav a:hover{
      border-top:none;
      border-bottom:#0065FC solid 3px;
    }

    h1 {
      margin: 15px 0 15px 0;
    }

    .recherche_et_filtres {
      margin: 0 5.5% 0 5.5%;
    }

    .formulaire_de_recherche {
      justify-content: center;
    }

    #rechercher {
      display: none;
    }

    .icone_recherche {
      padding: 15px;
      background-color: #0065FC;
      color: white;
      border: 1px solid #0065FC;
      border-radius: 0px 15px 15px 0px;
      font-size: 1.05em;
    }

    .filtres {
      flex-direction: column;
      align-items: start;
    }

    .boutons {
      flex-wrap: wrap;
    }
  
    .icones_boutons {
      padding: 3% 1% 3% 1%;
      width: 49%;
      margin: 20px auto auto auto ;
    }
    
    .icones_boutons i {
      font-size: 1em;
      margin: 0 7px 0 10px;
    }
  
    .icones_boutons span {
      font-size: 0.6em;
    }

    .corps_de_page {
      flex-direction: column-reverse;
    }

    .Hebergements {
      width: 100%;
      margin: 0 0 60px 0;
    }

    .Hebergements h1 {
      margin: 20px 0 25px 20px;
    }
  
    .Hebergements h2 {
      display: none;
    }

    .carte_hebergement {
      margin: 2% 5% 2% 5%;
      width: 100%;
      height: 200px;
    }
  
    .presentation_hotel {
      margin: 10px 0 0 20px
    }

    .classement {
      margin: auto 0 0 20px
    }

    .Populaires {
      border-radius: 0;
      width: 100%;
      padding: 0 0 20px 0;
      margin: 40px 0px 30px 0
    }

    .carte_populaire {
      width: 90%;
    }
 
    .Activites {
      margin: 0 20px 0 20px;
    }

    .ensemble_cartes_activites {
      flex-direction: column;
      width: 100%;
    }

    .carte_activites {
      width: 100%;
      height: 200px;
      margin: 0 0 5% 0;
    }

    .carte_activites img {
      height: 75%;
    }

    footer {
      height: auto;
      margin: 0 0 0 0;
      flex-direction: column;
      align-items: start;
    }
  
    footer ul {
      margin: 20px 0 20px 30px;
    }
  
    footer li {
      padding: 15px 0 0 0;
    }
  }