/* Importantion des polices raleway*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

/* CSS RESET
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* code CSS deskop du projet */

/*html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}*/

html {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: black;
  font-size: 1em;
  width: 1400px;
}

  header {
    margin: 0 30px 0 30px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* attention à mettre le bon nombre de pixel en haut, à droite, 
    en bas et à gauche selon la plaquette*/
  }

  header img {
    width:61px;
    height: 19px; 
    padding-top: 36px;
  }

  nav {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  nav a {
    color: black;
    text-decoration: none;
    height: 19px; 
    width: 50%;
    text-align: center;
        /* attention à mettre le bon nombre de pixel en haut, à droite, 
    en bas et à gauche selon la plaquette*/
    padding-top: 36px;
  }

  nav a:hover{
    color: #0065FC;
    border-top:#0065FC solid 2px;
  }

  main {
    margin: 63px 30px 0px 30px;
  }

  h1 {
    font-size: 1.4em;
    font-weight:700;
    margin-bottom: 15px;
  }

  h2 {
    font-size: 1.2em;
    font-weight:700;
    margin-right: 50px;
  }

  h1 + p {
    margin-bottom: 20px;
  }

  .icone_recherche {
    display: none;
  }

  .formulaire_de_recherche {
    display: flex;
    justify-content: start;
  }

  .location_dot {
    display: flex;
    justify-content: center;
    align-items: center;
    Width: 50px;
    Height: 49px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
  }

  #fa-solid fa-location-dot {
    Width: 14px;
    Height: 18px;
  }

  #ville_recherche {
    padding-left: 15px;
    font-size: 1.1em;
    font-weight:700;
    Height: 49px;
    border: 1px solid #F2F2F2;
  }

  #rechercher {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 132px;
    Height: 49px;
    background-color: #0065FC;
    color: white;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    font-size: 1.1em;
    font-weight:700;
  }

  .filtres {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .boutons {
    display: flex;
    flex-direction: row;
    width: 800px;
    justify-content: space-between;
  }

  @media all and (min-width: 992px) {
  .boutons :hover {
    background-color: #DEEBFF;
  }
}

  .icones_boutons {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    height: 30px;
    padding: 7px 15px 7px 15px;
  }
  
  .icones_boutons i {
    color: #0065FC;
    font-size: 1.05em;
  }

  .icones_boutons span {
    margin-left: 10px;
    font-size: 1.05em;
    font-weight:700;
  }

  .infos {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .infos i {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 24px;
    height: 24px;
    font-size: 0.8em;
    color:#0065FC;
    border: 1px solid #D9D9D9;
    border-radius: 24px;
  }

  footer {
            /* attention à mettre le bon nombre de pixel en haut, à droite, 
    en bas et à gauche selon la plaquette*/
    margin: 63px 30px 0px 30px;
  }

  /* adaptiblité tablette entre 768px  et 992 px */

  @media all and (min-width: 768px) and (max-width: 992px) {
    
    html {
      width: auto;
    }

  }

  /* adaptabilité mobile en dessous de 768 px */

  @media screen and (max-width: 768px) {

    html {
      width: auto;
    }

    header {
      display:flex;
      flex-direction: column;
      margin: 0;
    }
    
    header img {
      margin: 20px;
    }

    nav {
      margin:0;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    nav a {
      width: 50%;
          /* attention à mettre le bon nombre de pixel en haut, à droite, 
    en bas et à gauche selon la plaquette*/
      padding-bottom: 20px;
      padding-top: 48px;
      margin: auto;
      text-align: center;
    }

    nav a:hover{
      border-top:none;
      border-bottom:#0065FC solid 3px;
    }

    main {
      margin: 0 5.3% 0 5.3%;
    }

    h1 {
      margin-top: 15px;
    }

    #ville_recherche {
      width: 100%;
    }

    .icone_recherche {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 49px;
      height: 47px;
      background-color: #0065FC;
      color: white;
      border: 1px solid #0065FC;
      border-radius: 0px 15px 15px 0px;
      font-size: 1.05em;
    }
    #rechercher {
      display: none;
    }

    .filtres {
      flex-direction: column;
      align-items: start;
    }

    h2 {
      margin-bottom: 15px;
    }

    .boutons {
      flex-wrap: wrap;
      width: auto;
      margin: 0 5% 0 5%;
    }
  
    .icones_boutons {
      border: 2px solid #D9D9D9;
      border-radius: 25px;
      height: 30px;
      width: 41%;
      padding: 2% 1% 2% 3%;
      margin: 0 3% 4% 0;
    }
    
    .icones_boutons i {
      color: #0065FC;
      font-size: 1.05em;
    }
  
    .icones_boutons span {
      margin-left: 5px;
      font-size: 0.7em;
      font-weight:700;
      width: auto;
    }

  }